src/com/atguigu/server/atguigu/client/hello3.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://Impl.server.atguigu.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WebServiceImplService" targetNamespace="http://Impl.server.atguigu.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://Impl.server.atguigu.com/" elementFormDefault="unqualified" targetNamespace="http://Impl.server.atguigu.com/" version="1.0">

  <xs:element name="getPeopleById" type="tns:getPeopleById"/>

  <xs:element name="getPeopleByIdResponse" type="tns:getPeopleByIdResponse"/>

  <xs:element name="hello" type="tns:hello"/>

  <xs:element name="helloResponse" type="tns:helloResponse"/>

  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPeopleById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPeopleByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:people"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="people">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="sex" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="hello">
    <wsdl:part element="tns:hello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPeopleById">
    <wsdl:part element="tns:getPeopleById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPeopleByIdResponse">
    <wsdl:part element="tns:getPeopleByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloResponse">
    <wsdl:part element="tns:helloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WebServiceImpl">
    <wsdl:operation name="hello">
      <wsdl:input message="tns:hello" name="hello">
    </wsdl:input>
      <wsdl:output message="tns:helloResponse" name="helloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPeopleById">
      <wsdl:input message="tns:getPeopleById" name="getPeopleById">
    </wsdl:input>
      <wsdl:output message="tns:getPeopleByIdResponse" name="getPeopleByIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceImplServiceSoapBinding" type="tns:WebServiceImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hello">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hello">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="helloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPeopleById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPeopleById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPeopleByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceImplService">
    <wsdl:port binding="tns:WebServiceImplServiceSoapBinding" name="WebServiceImplPort">
      <soap:address location="http://localhost:8080/hello"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>